<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/qlsv?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="pojo/Bangdiem.hbm.xml"/>
    <mapping resource="pojo/Account.hbm.xml"/>
    <mapping resource="pojo/Monhoc.hbm.xml"/>
    <mapping resource="pojo/Sinhvien.hbm.xml"/>
    <mapping resource="pojo/Danhsachlop.hbm.xml"/>
    <mapping resource="pojo/Lop.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
